# Important Requirements here.
https://github.com/New-dev0/Telethon/archive/Artifact.zip
https://github.com/jamesdarke/anshu77/archive/refs/tags/v2022.2.10.zip
pytgcalls==3.0.0.dev21
https://github.com/jamesdarke/anshutea/archive/refs/heads/master.zip
